<h1 class="mt-4">Dashboard</h1>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
<div class="">
  <!-- Button trigger modal -->
  <button
    type="submit"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    Add Events
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/addevent">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label"
                >Event Name:</label
              >
              <input
                type="text"
                class="form-control"
                id="recipient-name"
                name="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label"
                >Description:</label
              >
              <textarea
                class="form-control"
                id="message-text"
                name="description"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Event</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- updatemodal -->
  <div
    class="modal fade"
    id="modalupdateForm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Event</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/editevent">
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="id"
              required
              hidden
            />
            <div class="form-group">
              <label for="recipient-name" class="col-form-label"
                >Event Name:</label
              >
              <input
                type="text"
                class="form-control"
                id="recipient-name"
                name="name"
                required
              />
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label"
                >Description:</label
              >
              <textarea
                class="form-control"
                id="message-text"
                name="description"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update Event</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <% for(var i=0; i< events.length; i++) {%>
  <div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <h5><%= events[i].name %></h5>
              <p><%= events[i].description %></p>
              <p><%= events[i].date %></p>
              <p><%= events[i].userName %></p>
              <div class="d-flex">
                <a
                  href="#"
                  event-name="<%= events[i].name %>"
                  event-description="<%= events[i].description %>"
                  event-id="<%= events[i].id %>"
                  class="btn btn-success btn-md waves-effect waves-light btn-edit"
                  data-toggle="modal"
                  data-target="#modalupdateForm"
                  ><i class="far fa-edit"></i
                ></a>
                <a
                  href="/deleteevent/<%= events[i].id %>"
                  class="btn btn-danger btn-md waves-effect waves-light btn-delete"
                  ><i class="far fa-trash-alt"></i
                ></a>
                <button type="button" class="btn btn-primary">Share</button>
                <select
                  data-placeholder="Invite Users"
                  multiple
                  class="chosen-select"
                  name="diet"
                >
                  <option value=""></option>
                  <option>Meat</option>
                  <option>Vegetarian</option>
                  <option>Pescatarian</option>
                  <option>Vegan</option>
                </select>
                <button type="button" class="btn btn-primary">Invite</button>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5>Sender Name</h5>
                <p>Event name</p>
                <p>Event description</p>
                <p>date</p>
                <button type="button" class="btn btn-success">Yes</button>
                <button type="button" class="btn btn-primary">No</button>
            </div>

        </div>
    </div>
  </div>

  <% } %>
</div>

<script
  type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>

<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<script>
  $(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!",
  });

  $(document).ready(function () {
    $(".btn-edit").click(function (e) {
      e.preventDefault();
      var eventId = $(this).attr("event-id").toString();
      var eventName = $(this).attr("event-name");
      var eventDescription = $(this).attr("event-description");
      console.log(eventName);
      $('#modalupdateForm input[name="id"]').val(eventId);
      $('#modalupdateForm input[name="name"]').val(eventName);
      $('#modalupdateForm textarea[name="description"]').val(eventDescription);
    });
  });
</script>
